
@{
    ViewBag.Title = "RegisterAwaitingConfirm";
}

<h2>Email Confirmation</h2>
<div>
    <p>
        An email was sent to confirm your account.
    </p>
    <p>
        @Html.ActionLink("Click here to resend", "ResendEmailConfirmation", "Account")
    </p>
</div>

