@*
    /*******************************************************************************
    * @file
    * @brief Reset Password Confirmation page.
    *
    * *****************************************************************************
    *   Copyright (c) 2020 Koninklijke Philips N.V.
    *   All rights are reserved. Reproduction in whole or in part is
    *   prohibited without the prior written consent of the copyright holder.
    *******************************************************************************/
*@

@{
    ViewBag.Title = "Reset Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
