@{
    ViewBag.Title = "2020 Intern Project";
}
<h2>@ViewBag.Title</h2>

<p>This project aims to ease the transition to the new building in Bakery Square. By providing 
    an interactive map for employees to easily search and browse for people's desks, meeting 
    rooms, and other locations in the building, we hope to enhance the moving experience.</p>

<p>Project Owner - Matthew Crookshank</p>
<p>Team Lead - Nick Dipasquale</p>
<p>Tech Lead - Zack Bowen</p>
<p>Developer - Connor Anderson</p>
<p>Developer - Aidan Hill</p>
<p>Developer - Matt Theys</p>
<p>Developer - Logan Valvo</p>
