@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    1740 Golden Mile Hwy,<br />
    Monroeville, PA 15146<br />
    <abbr title="Phone">P:</abbr>
    (724) 387-7500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>